.btn {
  border-radius: 8px;
  font-size: $base-font-size;
  padding: 12px 24px;
  background-color: $primary-button-color;
  border: none;

  &.small {
    background: rgba(255, 255, 255, 0.1);
  }

  &.large {
    padding: 24px 32px;
    font-size: 18px;
  }

  &.medium {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: $primary-font-color;
  }
}
