.guideline {
  background: #5d55ff;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  &__header {
    display: flex;
    gap: 30%;
    padding-top: 70px;
    max-width: 80%;
    margin: 0 auto;
    &--title {
      font-size: 40px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: -0.02em;
      text-align: left;
    }
    &--dscrip {
      color: rgba(255, 255, 255, 0.6);
      line-height: 1.75;
      column-count: 2;
    }
  }
}
