header {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 80%;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  h1 {
    font-size: 24px;
    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }

  &__nav {
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-items: center;
    @media screen and (max-width: 575px) {
      display: none;
    }

    &--item {
      text-decoration: none;
      color: #b6b3eb;
      font-family: $main-font-family;
      font-size: 16px;

      &:hover {
        color: $primary-font-color;
      }
    }
  }

  .nav-icon {
    display: none;
    @media screen and (max-width: 575px) {
      display: block;
      padding-right: 24px;
    }
  }
}
