//fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

$nav-font-family: "Poppins";
$main-font-family: "Plus Jakarta Sans";

//font colors
$primary-font-color: #fff;
$faded-font-color: #b6b3eb;
$black-font-color: #1d1c31;
$light-description-color: rgba(29, 28, 49, 0.6);

//font sizes
$base-font-size: 16px;

//bg-colors
$primary-color: linear-gradient(45deg, #1b13a6 49.59%, #443cdf 88.57%), #fff;

//buttons
$primary-button-color: #fff;

//breakpoints
