@import "partials/reset";

//base
@import "partials/variable";
@import "partials/base";
@import "partials/header";
@import "partials/utils";
@import "partials/button";
@import "partials/banner";
@import "partials/main";
